body, html{
    padding:0;
    margin:0;
    position:relative;
    height:100%
}

.header {
    width:100%;
    height: 64px;
    background: #f32c2c;
    padding:10px;
    box-sizing:content-box;
}

.footer{
    width:100%;
    height: 100px;
    background:#ccc;
    padding:10px;
    box-sizing:border-box;
}

.content {
    background:#eee;
    width:90%;
    padding:10px;
    height:100%;
    box-sizing:border-box;
    padding:0px;
}

.left{
    width:10%;
    float:left;
    background: #CE1212;
    height:100%;
}

.right{
    width: 90%;
    background:#aaa;
    height:100%;
}

.logoimg {
  position:absolute;
  left:0;
  top:0;
  margin-left: 2%;
}

.titletext {
  text-align: center;
  vertical-align: middle;
  color: white;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: inline; /* Make the links appear below each other */
  /*padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a:active {
  background-color: #F32C2D; /* Add a green color to the "active/current" link */
  color: white;
}
/*
.vertical-menu {
  width: 200px; /* Set a width if you like */
}
*/